.container {
    width: 300px;
    margin: 20px auto;
    display: -ms-flex;
    border: 1px solid black;
    border-radius: 5px;
}

.mainInputContainer {
    width: 100%;
    margin: 21px 0;
}

.mainInput {
    padding: 5px;
    border: 1px solid black;
    margin: auto;
    display: block;
    width: 261px;
    height: 42px;
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid black;
}

.filterBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.filterActive {
    text-decoration: underline;
}